.nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 13%;
    padding: 10px 5px;
    background-color: #333;
    top: 0;
    z-index: 30;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}

.nav-img {
    display: flex;
    align-items: center;
}

.logo {
    max-height: 100px;
    max-width: 150px;
}

.nav-links {
    display: flex;
    gap: 25px;
    margin-right: 35px;
    transition: transform 0.3s ease-in-out;
}

/* Ocultar los enlaces por defecto en pantallas pequeñas */
.nav-links.show {
    display: flex; /* Muestra el menú cuando se activa */
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    width: 200px;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.nav-text {
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.nav-text:hover {
    color: #f0a500;
}

/* Ícono del menú hamburguesa */
.menu-icon {
    display: none; /* Por defecto, oculto */
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.icon-bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.icon-bar.open:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.icon-bar.open:nth-child(2) {
    opacity: 0;
}

.icon-bar.open:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 650px) {
    .nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 13%;
    padding: 10px 0px;
    background-color: #333;
    top: 0;
    z-index: 30;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}
    .nav-links {
        display: none; /* Oculta los enlaces por defecto */
    }

    .menu-icon {
        display: flex; /* Muestra el menú hamburguesa */
        padding-right: 20px;
    }
}
